/* TODO Add site wide styles */
/* .application {

} */
/* .backgroundImage {
    background-size: cover;
    overflow: hidden;
} */
body {
    background: url('Images/Background.jpg') no-repeat center fixed;
    background-size: cover;
    /* background-color: #121212; */
    margin: 0px;
    filter: brightness(0.9)
}

.landingPage {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-template-areas:
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . welcome welcome welcome welcome welcome . . . ."
        ". . . . . . . . . . . . ."
        ". . . . info info info info info . . . ."
        ". . . . . . . . . . . . ."
        ". . . . suggest1 suggest1 suggest1 suggest1 suggest1 . . . ."
        ". . . . . . . . . . . . ."
        ". . . suggest2 suggest2 suggest2 suggest2 suggest2 suggest2 suggest2  . . ."
        ". . . . . . . . . . . . ."
        ". . . . login . signup . demo . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . ."
        ". . . . . . . . . . . . .";
}

.landingPage__info {
    color:rgb(245, 245, 245);
    grid-area: info;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage__demoButton {
    grid-area: demo;
    background-color: transparent;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    border-radius: 3px;
}

.landingPage__demoButton:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    color: #121212;
    cursor: pointer;
}

/* .landingPage__login {
    color: rgb(245, 245, 245);
    width: 100%;
    height: 100%
}

.landingPage__login:hover {
    color: rgb(245, 245, 245);
    color: #121212;
} */
.landingPage__loginButton {
    grid-area: login;
    background-color: transparent;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    border-radius: 3px;
}

.landingPage__loginButton:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    color: #121212;
    cursor: pointer;
}

.landingPage__signupButton {
    grid-area: signup;
    background-color: transparent;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    border-radius: 3px;
}

.landingPage__signupButton:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    color: #121212;
    cursor: pointer;
}

.landingPage__suggest1{
    color:rgb(245, 245, 245);
    grid-area: suggest1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.landingPage__suggest2{
    color:rgb(245, 245, 245);
    grid-area: suggest2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.landingPage__welcome {
    color:rgb(245, 245, 245);
    grid-area: welcome;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 700;
}

.loginForm {
    background-color: transparent;
    box-shadow: 0px 5px 5px whitesmoke;
}

.loginForm__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color:rgb(245, 245, 245);
    width: 300px;
    height: 200px;
    border-color: rgb(245, 245, 245);
    border-width: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 5px whitesmoke; */
}
.loginForm__email {
    margin: 4px;
    font-size: 1.2em;
}

.loginForm__loginButton {
    margin: 4px;
    background-color: transparent;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    border-radius: 3px;
}

.loginForm__loginButton:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    color: #121212;
    cursor: pointer;
}

.loginForm__password {
    margin: 4px;
    font-size: 1.2em;
}

#loginModal {
    background-color: transparent;
}

/* .modal-content {
    background-color: transparent;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    /* border-width: 0px 0px 1px 0px; */
    border-width: 0px;
    border-style: solid;
    border-color: rgb(90, 90, 90);
    height: 2em;
    /* background-color: #5d5d5d; */
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.navbar__logoLink {
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: none;
}

/* .navbar__logoLinkButton {
    background-color: rgb(82, 82, 82);
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0.2em;
    border-width: 0px;
} */
.navbarLoginSignup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.navbarLoginSignup__login {
    margin-right: 2em;
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: none;
}
.navbarLoginSignup__signup {
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: none;
}

/* .navbarLoginSignup__loginButton {
    background-color: rgb(0, 95, 0);
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    border-radius: 0.2em;
    border-width: 0px;
}
.navbarLoginSignup__loginButton:hover {
    cursor: pointer;
} */

/* .navbarLoginSignup__signupButton {
    background-color: rgb(0, 95, 0);
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    border-radius: 0.2em;
    border-width: 0px;
}

.navbarLoginSignup__signupButton:hover {
    cursor: pointer;
} */

.navbarLogoutProfile {
    display: flex;
    justify-content: space-between;
}

.navbarLogoutProfile__logout {
    margin-right: 1em;
}

/* .navbar__logo {
    max-width: 10%;
    max-height: fit-content;
} */

/* .ReactModal__Overlay {
    background-color: transparent;
}

.modal-backdrop {
    background-color: transparent;
} */

.ReactModalPortal > div {
    background-color: transparent !important;
    /* opacity: 80%; */
    height: 100vh !important;
}
.signupForm__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color:rgb(245, 245, 245);
    width: 300px;
    height: 200px;
    border-color: rgb(245, 245, 245);
    border-width: 10px;
    border-radius: 10px;
}

.signupForm__button {
    margin: 4px;
    background-color: transparent;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    border-radius: 3px;
}

.signupForm__button:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
    color: #121212;
    cursor: pointer;
}

.signupForm__confirmPassword {
    margin: 4px;
    font-size: 1.2em;
}

.signupForm__email {
    margin: 4px;
    font-size: 1.2em;
}

.signupForm__password {
    margin: 4px;
    font-size: 1.2em;
}

.signupForm__username {
    margin: 4px;
    font-size: 1.2em;
}
